import init.universal5433.usb.rc

on init
    start watchdogd

    # See storage config details at http://source.android.com/tech/storage/
#    mkdir /mnt/shell/emulated 0700 shell shell
#    mkdir /storage/emulated 0555 root root
    mkdir /storage/sdcard 0000 root root
    mkdir /storage/usb1 0000 root root
    mkdir /storage/usb2 0000 root root
    mkdir /storage/usb3 0000 root root
    mkdir /mnt/media_rw/sdcard 0700 media_rw media_rw
    mkdir /mnt/media_rw/usb1 0700 media_rw media_rw
    mkdir /mnt/media_rw/usb2 0700 media_rw media_rw

    #export EXTERNAL_STORAGE /storage/emulated/legacy
    export SECONDARY_STORAGE /storage/sdcard:/storage/usb1:/storage/usb2:/storage/usb3
    #export EMULATED_STORAGE_SOURCE /mnt/shell/emulated
    #export EMULATED_STORAGE_TARGET /storage/emulated

    # Support legacy paths
#    symlink /storage/emulated/legacy /sdcard
#    symlink /storage/emulated/legacy /mnt/sdcard
#    symlink /storage/emulated/legacy /storage/sdcard0
#    symlink /mnt/shell/emulated/0 /storage/emulated/legacy
    symlink /storage/sdcard /mnt/ext_sd
    symlink /data/app /factory

    #Google FRP
    symlink /dev/block/platform/15540000.dwmmc0/by-name/PERSISTENT /dev/block/persistent

on post-fs-data
#    mkdir /data/media 0770 media_rw media_rw

    setprop vold.post_fs_data_done 1

on boot
    # override init.rc to keep plenty of large order chunks around
    # to improve allocation times
    write /proc/sys/vm/min_free_kbytes 32768
    write /proc/sys/vm/min_free_order_shift 1

    mount debugfs /sys/kernel/debug /sys/kernel/debug

    setprop ro.radio.noril yes

    # Set up kernel tracing, but disable it by default
    chmod 0222 /sys/kernel/debug/tracing/trace_marker
    write /sys/kernel/debug/tracing/tracing_on 0

    # Change permission for interactive governor
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_rate
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_rate
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_slack
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_slack
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/min_sample_time
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/min_sample_time
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/hispeed_freq
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/hispeed_freq
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/target_loads
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/target_loads
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/go_hispeed_load
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/go_hispeed_load
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/above_hispeed_delay
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/above_hispeed_delay
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/boost
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/boost
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/boostpulse
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/input_boost
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/input_boost
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/boostpulse_duration
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/boostpulse_duration
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/io_is_busy
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/io_is_busy

    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/timer_rate
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/timer_rate
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/timer_slack
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/timer_slack
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/min_sample_time
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/min_sample_time
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/hispeed_freq
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/hispeed_freq
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/target_loads
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/target_loads
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/go_hispeed_load
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/go_hispeed_load
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/above_hispeed_delay
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/above_hispeed_delay
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/boost
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/boost
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/boostpulse
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/input_boost
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/input_boost
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/boostpulse_duration
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/boostpulse_duration
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/io_is_busy
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/io_is_busy

on fs
    mount_all /fstab.universal5433
#    setprop ro.crypto.fuse_sdcard true

# Permissions for ION
    chmod 0660 /sys/class/ion_cma/ion_video_ext/isolated
    chown system system /sys/class/ion_cma/ion_video_ext/isolated

# Permissions for backlight
    chmod 0660 /sys/class/backlight/pwm-backlight.0/brightness
    chown system system /sys/class/backlight/pwm-backlight.0/brightness

# Copy DRM Key
    copy /system/app/wv.keys /factory/wv.keys

# Permission for DRM Key
    chmod 0644 /factory/wv.keys

# MTP permission
    chmod 0660 /dev/usb_mtp_gadget
    chown system mtp /dev/usb_mtp_gadget

# terminal mode
    chmod 0660 /sys/class/android_usb/android0/terminal_version
    chown system system /sys/class/android_usb/android0/terminal_version

# for datarouter
    chown system system /dev/dun
    chown system system /dev/ttyGS0
    chown system system /dev/ttyGS1
    chown system system /dev/ttyGS2
    chown system system /dev/ttyGS3

# ExyRng startup
service exyrngd /system/bin/exyrngd -b
    user root
    group root
    class main
    oneshot

