on post-fs-data

# HD-DMB CAS Key Data
    mkdir /data/.dmbca 0771
    chown media system /data/.dmbca
    chmod 0771 /data/.dmbca

on boot

# tdmb
    chown system system /dev/tdmb
    chmod 0660 /dev/tdmb

# MTP permission
    chmod 0660 /dev/usb_mtp_gadget
    chown system mtp /dev/usb_mtp_gadget

# Permissions for usb_lock
    chown system radio /sys/class/android_usb/android0/usb_lock

# terminal mode
    chmod 0660 /sys/class/android_usb/android0/terminal_version
    chown system system /sys/class/android_usb/android0/terminal_version

# Switch USB20 to USB30
    chown system system /sys/class/android_usb/android0/usb30en
    chmod 0660 /sys/class/android_usb/android0/usb30en

# for datarouter
    chown system system /dev/dun
    chown system system /dev/ttyGS0
    chown system system /dev/ttyGS1
    chown system system /dev/ttyGS2
    chown system system /dev/ttyGS3

# OTG_TEST
    chown system radio /sys/class/host_notify/usb_otg/booster
    chmod 0660 /sys/class/host_notify/usb_otg/booster

#   Assign TCP buffer thresholds to be ceiling value of technology maximums
#   Increased technology maximums should be reflected here.
    write /proc/sys/net/core/rmem_max  8388608

# For setting tcp delayed ack
    chown system system /sys/kernel/ipv4/tcp_delack_seg
    chown system system /sys/kernel/ipv4/tcp_use_userconfig

# Define TCP delayed ack settings for WiFi & LTE
    setprop net.tcp.delack.default     1
    setprop net.tcp.delack.wifi        8
    setprop net.tcp.usercfg.default    0
    setprop net.tcp.usercfg.wifi       1

on fs

# MOBILE OFFICE Permanent memory access
    mkdir /efs/security 0771 root root
    chown radio system /efs/security
    chmod 0771 /efs/security

service dmb /system/bin/dmbserver
    class main
    user media
    group system radio inet misc audio camera graphics net_bt net_bt_admin sdcard_rw sdcard_r shell media_rw

# Support silent logging
    mkdir /data/log 0775 system log
    mkdir /data/misc/dhcp 0775 dhcp dhcp
    chown dhcp dhcp /data/misc/dhcp
    chmod 0777 /system/bin/diagexe
    chmod 0755 /system/bin/ddexe
    chmod 0755 /system/bin/smdexe

# RIL diagexe for CP
service DIAG-daemon /system/bin/diagexe
    class main
    user root
    group system radio inet net_raw
